<!doctype html>
<html ng-app="runescapeHiscores">
    <head>
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="build/css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            2007scape Hiscores
        </title>
    </head>
    <body>
        <div class="page-container" ng-controller="mainController">
            <div id="player__submission-container">
                <form id="player__form" role="form" name="user_lookup" class="form-inline">
                    <legend>Hi-Scores Lookup</legend>

                    <div id="player__label-and-input">
                        <input id="player__input" class="form-control" type="text" placeholder="Zezima" name="username" required>
                        <button id="player__submit" class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>

            <div id="player__stats-container">
                <div id="name_and_cb_level">
                    <h4 id="player__name" class="title title--center" ng-show="player" ng-cloak>
                        {{player}} &mdash; lvl {{overall__combat_level}}
                    </h4>
                </div>
                <div id="player__summary">
                    <div id="player__skills">
                        <div class="skill skill--{{ skill.skill }}"
                             ng-repeat="skill in skills track by $index"
                             ng-class="
                                {
                                    'background-color background-color--level-ninety-nine':                skill.isLevel99,
                                    'background-color background-color--closest-non-combat-to-next-level': skill.closestNonCombatToLeveling,
                                    'background-color background-color--closest-to-next-level':            skill.closestToNextLevel,
                                    'background-color background-color--best-skill':                       skill.highestSkill,
                                }
                             "
                             ng-mouseover="updateSkillHovered(skill)"
                             ng-cloak>
                            <img class="skill__icon skill_image--{{skill.skill}}" ng-src="./assets/skill-icons/{{skill.skill | capitalize}}.png">
                            <div class="skill__level">{{skill.level}}</div>
                        </div>
                    </div>
                    <div id="player__details" class="other-side-bar-info">
                        <div id="details__legend">
                            <span class="background-color background-color--best-skill">Best Skill</span>
                            <span class="background-color background-color--closest-to-next-level hide-on-collapse">Closest To Leveling</span>
                            <span class="background-color background-color--closest-non-combat-to-next-level hide-on-collapse">Closest Non-Combat</span>
                        </div>
                        <div id="details__overall" ng-cloak>
                            <div class="rank_and_total_level">
                                <span ng-hide="form_empty" class="overall__rank">Rank: {{overall_rank | number}}</span>
                                <span ng-show="form_empty" class="overall__rank--no-name">Not ranked</span>
                                <span class="overall__total-level">Total: {{overall_total_level | number}}</span>
                            </div>
                            <span class="overall__experience">
                                {{overall_experience | number}} xp
                            </span>
                        </div>
                        <div id="details__focused-skill" ng-cloak>
                            <h4 id="skill__name" class="title title--center">
                                {{skillFocusedName | capitalize}}
                            </h4>
                            <div id="skill__experience-and-rank" ng-cloak>
                                <span id="experience">
                                    <span ng-if="skillFocusedExperience != undefined">{{skillFocusedExperience | number}} xp</span>
                                    <span ng-if="skillFocusedExperience == undefined">??? xp</span>
                                </span>
                                <span ng-show=" skillFocusedIsRanked" id="rank">Rank: {{skillFocusedRank | number}}</span>
                                <span ng-show="!skillFocusedIsRanked" id="no-rank">Not ranked</span>
                            </div>
                            <div id="skill__progress" class="progress">
                                <div id="progress__bar" class="progress-bar progress-bar-striped progress-bar-success"
                                     role="progressbar" aria-valuenow="{{roundDown(skillFocusedProgressToNextLevel)}}"
                                     aria-valuemin="0"  aria-valuemax="100">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                            <div id="skill__progress-and-experience-left">
                                <span ng-show="!skillFocusedIsMaxed" id="progress">{{skillFocusedProgressToNextLevel}}% towards level {{skillFocusedNextLevel}}</span>
                                <span ng-show="!skillFocusedIsMaxed"
                                      id="experience-left">
                                    <span ng-if="skillFocusedExperienceUntilNextLevel != undefined">{{skillFocusedExperienceUntilNextLevel | number}} xp left!</span>
                                    <span ng-if="skillFocusedExperienceUntilNextLevel == undefined">??? xp left!</span>
                                </span>
                                <span ng-show=" skillFocusedIsMaxed" id="experience-left--maxed">{{skillFocusedExperienceUntilNextLevel}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="./build/js/app/index.min.js"></script>
    </body>
</html>
