[ng-cloak] {
    display: none !important;
}

.page-container {
    @include mixins__margin-centered();
    @media all and (min-width: $size__collapse + 1px) {
        width: 80%;
    }

    display: flex;
    justify-content: center;

    padding-top: 20px;
}

.skill {
    @include mixins__flex-centered();

    width: 55px;
    height: 30px;

    margin: 5px;
    padding: 2px;

    .skill__icon, .skill__level {
        @include mixins__flex-centered();
        height: 25px;
        width:  25px;
    }

    @for $index from 1 through length($stats-order) {
        $skill: nth($stats-order, $index);

        &.skill--#{$skill} {
            order: #{$index};
        }
    }
}

.background-color {
    $stop1: 31%;
    $stop2: 37%;
    $stop3: 43%;
    $stop4: 50%;
    $stop5: 62%;
    $stop6: 81%;

    @media all and (min-width: $size__collapse + 1px) {
        &--level-ninety-nine {
            background-color: $color--level-ninety-nine;
        }
        &--closest-non-combat-to-next-level {
            background-color: $color--closest-non-combat-to-next-level;
        }
        &--closest-to-next-level {
            background-color: $color--closest-to-next-level;
        }
    }

    &--best-skill {
        background-color: $color--best-skill;
    }

    &--max-experience {
        background-color: $color--max-experience;
    }

    &--rank-first {
        background-color: $color--rank-first;
    }
}

.title {
    margin-top: 0;
    margin-bottom: 5px;

    &.title--center {
        text-align: center;
    }
}

.progress {
    .progress-bar {
        height: 25px;
        @for $index from 0 through 100 {
            &[aria-valuenow="#{$index}"] {
                width: $index * 1%;
            }
        }
    }
}

.hide-on-collapse {
    @media all and (max-width: $size__collapse) {
        display: none !important;
    }
}

.show-on-collapse {
    @media all and (min-width: $size__collapse + 1px) {
        display: none !important;
    }
}