$color--best-skill: rgba(255, 215, 0, 0.49);
$color--closest-non-combat-to-next-level: rgba(148, 255, 75, 0.3);
$color--closest-to-next-level: rgba(148, 255, 75, 0.69);
$color--level-ninety-nine: rgba(0, 254, 255, 0.11);
$color--max-experience: #ffff66;
$color--rank-first: gold;

$color--wet-asphalt:   #34495e;
$color--midnight-blue: #2c3e50;
