@mixin mixins__flex-centered($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items:     center;
}

@mixin mixins__margin-centered($amount: auto) {
    margin-right: $amount;
    margin-left:  $amount;
}

@mixin mixins__absolute-top() {
    position: absolute;

    top:   0;
    left:  0;
    right: 0;
}