@import url("//fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

$font__reg: "Open Sans";

body {
    font-family: $font__reg;
    font-size: 100%;
}
