@import "bourbon";

@import "common/variables";

[ng-cloak] {
    display: none;
}

.container{
	@include display(flex);
	@include justify-content(center);
	width: 80%;
	margin-top: 20px;

	.form{
		height: 201px;
		width: 540px;
		border: 1px solid;
		padding: 20px;
		margin-right: 20px;
	}
    .stats-container{
        border: 1px solid;
        padding: 10px;
        width: 223px;
        @include display(flex);
        @include flex-direction(column);
        @include align-items(center);
    }
	.skills{
        width: 100%;
        max-width: 173px;
        border: 1px solid;
        @include display(flex);
        @include flex-wrap(wrap);
		.skill{
			@include display(flex);
			@include justify-content(center);
			@include align-items(center);
			width: 47px;
			height: 22px;
			margin: 5px;
			border: 1px solid;
			padding: 2px;
			@for $index from 1 through length($stats-order) {
				$skill: nth($stats-order, $index);
				&.#{$skill}{
					@include order(#{$index});
				}
			}
			.skill-image{
				height: 0;
				width: 50px;
				padding-bottom: 50%;
				background-size: auto 100%;
				background-repeat: no-repeat;
				@for $index from 1 through length($skills) {
					$skill: nth($skills, $index);
					&[data-skill="#{$skill}"]{
						background-image: url("../Assets/images/#{$skill}.png");
					}
				}
			}
		}
	}
    .overall-and-combat{
        @include display(flex);
        @include justify-content(flex-end);
        width: 100%;
        max-width: 173px;
        margin: 5px;
        padding: 5px;
        border: 1px solid;
        height: auto;
        max-height: 100px;
    }
}