//noinspection CssUnknownTarget
@import "bourbon";
@import "common/variables";
@import "common/color-palette";
@import "common/mixins";
@import "common/blocks";
@import "common/typography";

.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#player__submission-container {
    height: 201px;
    width: 540px;

    padding: 20px;

    border: 1px solid;

    margin-bottom: 20px;
    @media all and (min-width: 768px) {
        margin-right: 20px;
    }
}

#player__stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid;

    @media all and (max-width: $size__collapse) {
        width: 100%;
    }

    #name_and_cb_level {
        display: flex;
        justify-content: center;
    }

    #player__summary {
        display: flex;
        justify-content: center;

        @media all and (max-width: $size__collapse) {
            flex-direction: column;
        }

        #player__skills {
            display: flex;
            flex-wrap: wrap;

            width: 197px;
            border: 1px solid;
        }

        #player__details {
            width: 197px;

            display: flex;
            flex-direction: column;

            @media all and (min-width: $size__collapse + 1px) {
                margin-left: 5px;
            }

            > div {
                width: 100%;

                padding: 5px;
                border: 1px solid;

                margin-top: 5px;

                @media all and (min-width: $size__collapse + 1px) {
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            #details__legend {
                display: flex;
                flex-direction: column;

                > span {
                    text-align: center;
                    &:not(:first-child) {
                        margin-top: 5px;
                    }
                }
            }

            #details__overall {
                display: flex;
                flex-direction: column;

                .rank_and_total_level {
                    display: flex;
                    justify-content: space-between;
                }

                .overall__experience {
                    text-align: center;
                }
            }

            #details__focused-skill {
                display: flex;
                flex-direction: column;

                #skill__name {
                    text-align: center;
                    margin: 0;
                }

                #skill__experience-and-rank {
                    display: flex;
                    justify-content: space-between;

                    padding-left: 5px;
                    padding-right: 5px;
                }

                #skill__progress {
                    margin-bottom: 0;
                }

                #skill__progress-and-experience-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }
            }

            @media all and (max-width: $size__collapse) {
                #details__legend {
                    order: 2;
                }
                #details__overall {
                    order: 3;
                }
                #details__focused-skill {
                    order: 1;
                }
            }
        }
    }
}
