//noinspection CssUnknownTarget
@import "bourbon";
@import "common/variables";
@import "common/color-palette";
@import "common/mixins";
@import "common/blocks";
@import "common/typography";

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player__submission-container {
    padding: 20px;

    width: 540px;
    @media all and (max-width: 540px) {
        width: 100%;
    }

    margin-bottom: 0;
    @media all and (min-width: 768px) {
        margin-right: 20px;
    }

    @media all and (max-width: $size__collapse) {
        border: none;

        legend {
            display: none;
        }
    }

    #player__label-and-input {
        display: flex;
        justify-content: center;

        #player__input {
            width: auto;
            max-width: 172px;
        }

        #player__submit {
            height: 35px;
            width: 70px;
            padding: 0;

            margin-left: 5px;
        }

        @media all and (min-width: $size__collapse + 1px) {
            align-items: flex-start;

            #player__input {
                max-width: 180px;
            }
        }
        @media all and (max-width: $size__collapse) {
            #player__submit {
                margin-left: 5px;
            }
        }
    }
}

#player__stats-container {
    width: 411px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;
    margin-bottom: 20px;

    @media all and (max-width: $size__collapse) {
        width: 100%;
    }
    @media all and (min-width: $size__collapse + 1px) {
        border: 1px solid;
    }

    #name_and_cb_level {
        display: flex;
        justify-content: center;
    }

    #player__summary {
        display: flex;
        justify-content: center;

        @media all and (max-width: $size__collapse) {
            flex-direction: column;
        }

        #player__skills {
            display: flex;
            flex-wrap: wrap;

            width: 197px;
            border: 1px solid;
        }

        #player__details {
            width: 197px;
            height: 322px;

            display: flex;
            flex-direction: column;

            position: relative;

            @media all and (min-width: $size__collapse + 1px) {
                margin-left: 5px;
            }

            > div {
                width: 100%;

                padding: 5px;
                border: 1px solid;

                margin-top: 5px;
            }

            #details__legend {
                display: flex;
                flex-direction: column;

                order: 1;

                margin-top: 0;

                > span {
                    text-align: center;
                    &:not(:first-child) {
                        margin-top: 5px;
                    }
                }
            }

            #details__overall {
                display: flex;
                flex-direction: column;

                order: 3;

                @media all and (min-width: $size__collapse + 1px) {
                    position: absolute;
                    bottom: 0;
                }

                .rank_and_total_level {
                    #overall-stats {
                        text-align: center;
                        margin: 0;
                    }

                    #overall-stats__details {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .overall__experience {
                    text-align: center;
                }
            }

            #details__focused-skill {
                display: flex;
                flex-direction: column;

                order: 2;

                #skill__name {
                    text-align: center;
                    margin: 0;
                }

                #skill__experience-and-rank {
                    display: flex;
                    justify-content: space-between;

                    padding-left: 5px;
                    padding-right: 5px;
                }

                #skill__progress {
                    margin-bottom: 0;
                }

                #skill__progress-and-experience-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }
            }

            @media all and (max-width: $size__collapse) {
                #details__legend {
                    order: 2;

                    padding: 0;
                    margin-top: 5px;
                }
                #details__overall {
                    order: 3;
                }
                #details__focused-skill {
                    order: 1;
                }
            }
        }
    }
}
