@import "bourbon";

.container{
	margin-top: 20px;
	width: 223px;

	.skills{
		$skills: "Overall", "Attack", "Defence", "Strength", "Hitpoints", "Ranged", "Prayer", "Magic", "Cooking", "Woodcutting", "Fletching", "Fishing", "Firemaking", "Crafting", "Smithing", "Mining", "Herblore", "Agility", "Thieving", "Slayer", "Farming", "Runecrafting", "Hunter", "Construction";
		@include display(flex);
		@include flex-wrap(wrap);
		border: 1px solid;
		padding: 10px;
		width: 100%;
		.skill{
			$stats-order: "Attack", "Hitpoints", "Mining", "Strength", "Agility", "Smithing", "Defence", "Herblore", "Fishing", "Ranged", "Thieving", "Cooking", "Prayer", "Crafting", "Firemaking", "Magic", "Fletching", "Woodcutting", "Runecrafting", "Slayer", "Farming", "Construction", "Hunter", "Overall";
			@include display(flex);
			@include justify-content(center);
			@include align-items(center);
			width: 47px;
			height: 22px;
			margin: 5px;
			border: 1px solid;
			padding: 2px;
			@for $index from 1 through length($stats-order) {
				$skill: nth($stats-order, $index);
				&.#{$skill}{
					@include order(#{$index});
				}
			}
			&.Overall{@include align-items(space-between);}
			.skill-image{
				height: 0;
				width: 50px;
				padding-bottom: 50%;
				background-size: auto 100%;
				background-repeat: no-repeat;
				@for $index from 1 through length($skills) {
					$skill: nth($skills, $index);
					&[data-skill="#{$skill}"]{
						background-image: url("../Assets/images/#{$skill}.png");
					}
				}
			}
		}
	}
}