@import "../components/form__legend";
@import "../components/form__label-and-input";
@import "../components/form__input";
@import "../components/form__label";
@import "../components/form__submit";

.form {
    position: relative;

    padding: 20px 20px 10px;

    width: 400px;
    margin-bottom: 0;

    @media all and (max-width: 540px) {
        width: 100%;
    }
}
