.loading-icon {
    position: absolute;
    top: 3px;
    left: 80px;

    height: 30px;
    width:  30px;

    opacity: 0;

    transition: opacity .25s ease;

    &_loading {
        opacity: 1;
    }
}
