.loading-icon {
    position: absolute;
    bottom: 3px;
    left: -35px;

    height: 30px;
    width:  30px;

    opacity: 0;

    transition: opacity .25s ease;

    &_loading {
        opacity: 1;
    }
}
