@mixin mx__flex-centered($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items:     center;
}

@mixin mx__margin-centered($amount: auto) {
    margin-left:  $amount;
    margin-right: $amount;
}

@mixin mx__absolute-top() {
    position: absolute;
    top:   0;
    right: 0;
    left:  0;
}

@mixin mx__input-placeholder {
    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {
        @content
    }
}