.form__input {
    height: 34px;

    opacity: 1;
    background-color: $color--wet-asphalt;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: none;

    color: white;
    font-size: 1.3em;
    text-indent: 15px;

    transition: all .25s ease;

    @include mx__input-placeholder {
        opacity: 1;

        color: white;
        font-weight: 400;
    }

    &:focus, &:hover {
        outline: none;

        background-color: white;

        color: black;

        @include mx__input-placeholder {
            color: black;
        }
    }

    @media all and (max-width: 299px) {
        width: 200px;
    }
    @media all and (min-width: 300px) {
        width: 250px;
    }
}
