.form__submit {
    position: absolute;
    top: 0;
    right: 26px;

    height: 34px;
    width: 70px;
    padding: 0;

    opacity: 1;
    cursor: pointer;

    background-color: $color--wet-asphalt;
    background-image: none !important;
    background-position: -100%;
    border: 1px solid white;
    border-radius: 0 10px 10px 0;
    box-shadow: none;

    color: white;

    transition: all .25s ease;

    &:active,
    &:visited,
    &:focus {
        outline: none;
        cursor: pointer;

        color: white;
    }

    &:hover {
        background-color: white;
        color: #2c3e50;
    }

    @media all and (max-width: $size__collapse) {
        margin-left: 5px;
    }
}