.stats__combat-and-total-level {
    display: flex;
    font-size: 1.4em;
}

.stats {
    &__combat-level,
    &__total-level {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 30px;
        margin-left: 15px;

        img {
            height: 25px;
            width:  25px;

            margin-right: 5px;
        }

        span {
            text-align: center;
        }
    }

    &__combat-level {
        @media all and (max-width: $size__collapse) {
            margin-left: 0;
        }
    }
}
